<div class="absolute top-16">
    <div class=" bg-red-10 shadow w-full">
        <div class="flex items-center gap-16 p-6 ml-3 text-xl">
            <div class="itme cursor-pointer hover:text-blue-600">
                <h6>All Products</h6>
            </div>
            <div class="itme cursor-pointer hover:text-blue-600">
                <h6>Electronics</h6>
            </div>
            <div class="itme cursor-pointer hover:text-blue-600">
                <h6>Fashion</h6>
            </div>
        </div>
    </div>
    
    <div class="w-full px-10 py-5">
        <div class=" grid grid-cols-4 gap-10">
            @for (product of productList; track product) {
                
                <div  class="cursor-pointer rounded-md shadow group flex w-full max-w-xs flex-col overflow-hidden bg-white">
                  <a [routerLink]="'/product/'+product.id" class="flex  h-48 w-72" >
                    <div class="scale-[.6] bg-red-200 overflow-hidden">
                    <img class="h-full w-full object-cover object-center" src="{{product.image}}" alt="product image" />
                    </div>
                  </a>
                  <div class="pb-2">
                      <h5  class="text-center px-4 truncate text-ellipsis tracking-tight text-gray-500">{{product.title}}</h5>
                    <div class="mb-5 flex justify-center">
                      <p>
                        <span class="text-sm font-bold text-gray-900">${{product.price}}</span>
                        <span class="text-sm text-gray-400 line-through">$499</span>
                      </p>
                    </div>
                    <div class="add-cart text-center mx-10 mb-2">
                        <button (click)="addToCart(product)" class="text-white flex items-center justify-center outline-none rounded-md bg-[#AE7FEB] px-5 py-2.5 text-center text-sm font-medium text-whit focus:outline-none ">
                        Add to cart
                        </button>
                    </div>
                  </div>
                </div>
            }
        </div>
    </div>
</div>

